<Configuration>

<Appenders>

<Console name="Console" target="SYSTEM_OUT">

<PatternLayout pattern = "%d{YYYY-MM-dd HH:mm:SS} {%t} %highlight{%level} %c{1} ::%M ::%L %msg %n"></PatternLayout>

</Console>

<File name="FileAppender" fileName="logs/application.log" append="false">

<PatternLayout pattern = "%d{YYYY-MM-dd HH:mm:SS} {%t} %highlight{%level} %c{1} ::%M ::%L %msg %n"></PatternLayout>


</File>

</Appenders>


<Loggers>

<Root level="info">

<AppenderRef ref="Console"></AppenderRef>

<AppenderRef ref="FileAppender"></AppenderRef>

</Root>
</Loggers>
</Configuration>